<h1>Hero's</h1>

<ul>

    <% @characters.each do |character| %>    
        <li>
        <%= link_to character.hero, character %>
        </li>
    <% end %>
</ul>


<div class="row">
        <div class="col-md-4">
          <h2>About us</h2>
          <p>We are a website that tells you about you're favourite OverWatch Heroes :) </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contact us</h2>
          <p>For any business inquiries contact me at Jontmcintosh@hotmail.com / jmcintosh45@academic.rrc.ca or at 204-770-0695</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Check out op.gg</h2>
          <p>Check out op.gg for other amazing game related content!!! </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>






